<div class="modal" id="modal_1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title"> {{movieToSave.title}} </div>
                <button class="close" type="button" data-dismiss="modal" id="modal_closing">&times;</button>
            </div>

            <div class="modal-body">

                <div class="card text-center">
                    <div class="card-header">
                        Release date: {{movieToSave.release_date | date}}
                    </div>
                    <img src="https://image.tmdb.org/t/p/w500{{movieToSave.poster_path}}" alt="{{movieToSave.title}}" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text"> {{movieToSave.overview}} </p>
                        <h6 class="card-title">Add a comment: </h6>
                        <textarea class="form-control" name="comment" [(ngModel)]="comment" cols="30" rows="10"></textarea>
                    </div>
                    <div class="card-footer text-muted"> Average Vote: {{movieToSave.vote_average}} </div>
                </div>

                <!-- <div> {{movieToSave.release_date | date}} </div>
                <div> <img src="https://image.tmdb.org/t/p/w200{{movieToSave.poster_path}}" alt=" {{movieToSave.title}} "> </div>
                <div> {{movieToSave.overview}} </div>
                <div>{{movieToSave.vote_average}} </div>
                <textarea class="form-control" name="comment" [(ngModel)]="comment" cols="30" rows="10"></textarea> -->
            </div>

            <div class="modal-footer">
                <button class="btn btn-info" (click)="saveMovieToList()">SAVE MOVIE TO LIST</button>
            </div>
        </div>
    </div>
</div>